* {
    font-family: helvetica;
    color: white;
}

body{
    background-image: url("images/baseball-background.jpg");
    background-size: cover;
}

/* main section*/
.name h1{
    font-size: 70px;
    text-align: center;
    margin-bottom: 0px;
}

.name h2{
    font-size: 30px;
    text-align: center;
}

.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.5);
    margin: 20px;
    padding: 20px;
}

.main img{
    width: 30vh;
    height: auto;
}

.about {
    width: 30vh;
    height: auto;
    padding-right: 40px;
}

.about h3{
    font-size: 25px;
}

.about p{
    font-size: 20px;
}

@media only screen and (max-width: 600px){
    .main{
        flex-wrap: wrap;
    }
}

/*media section*/
.media {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    margin: 20px;
}

.media h3{
    font-size: 35px;
    text-align: center;
    color: black;
}

.pics img{
    width: 40vh;
    height: auto; 
    margin-bottom: 30px;
    align-self: center;
}

iframe{
    margin-bottom: 30px;
}

.pics{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 1200px){
    .pics{
        flex-direction: column;
        align-items: center;
    }
}
/*contact section*/
.contact{
    text-align: center;
}
